# dependencias
node_modules/

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
*.log

# cache / tooling
.DS_Store
.vscode/
.idea/
*.swp

# builds (depende del framework)
dist/
build/
.out/
.next/
coverage/